.formWrapper {
  background: #282a36;
  width: 50%;
  padding: 30px;
}
.asideWrap {
  background: #1c1e29;
}
.editorWrap {
  background: #393d51;
}

button {
  background: #008564;
  padding: 5px;
  font-weight: bolder;
  border-radius: 5px;
}
button:hover {
  background: #00a99d;
  transition: all 0.3s ease-in-out;
  scale: 1.04;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1e29;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.CodeMirror {
  min-height: 100vh;
  font-size: 15px;
  line-height: 1.6;
  padding-top: 20px;
}
